:root {
  --font-family-inter: 'Inter', sans-serif;
  --text-rgb-31-56-80: rgba(31, 56, 80, 1);
  --text-rgb-225-223-219: rgba(225, 223, 219, 1);
  --text-white: rgba(255, 255, 255, 1);
}

.text-rgb-31-56-80 {
  color: var(--text-rgb-31-56-80);
}

.text-rgb-225-223-219 {
  color: var(--text-rgb-225-223-219);
}

.text-white {
  color: var(--text-white);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

.vector-1-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(255, 255, 255, 1);
  fill: rgba(6, 6, 6, 1);
  border: none;
  outline: none;
}

.vector-2-7 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-3-8 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(255, 255, 255, 1);
  fill: rgba(255, 251, 251, 1);
  border: none;
  outline: none;
}

.logo-5 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.logo-4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.block-3 {
@media (max-width: 1440px) {
  .block-3 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .block-3 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
}

.text-11 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-31-56-80);
}

.navigation-pill-10 {
@media (max-width: 1440px) {
  .navigation-pill-10 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .navigation-pill-10 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  border-radius: 8px;
}

.text-13 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-31-56-80);
}

.navigation-pill-12 {
@media (max-width: 1440px) {
  .navigation-pill-12 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .navigation-pill-12 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  border-radius: 8px;
}

.text-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-31-56-80);
}

.navigation-pill-14 {
@media (max-width: 1440px) {
  .navigation-pill-14 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .navigation-pill-14 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  border-radius: 8px;
}

.text-17 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-31-56-80);
}

.navigation-pill-16 {
@media (max-width: 1440px) {
  .navigation-pill-16 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .navigation-pill-16 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  border-radius: 8px;
}

.text-19 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-31-56-80);
}

.navigation-pill-18 {
@media (max-width: 1440px) {
  .navigation-pill-18 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .navigation-pill-18 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  border-radius: 8px;
}

.navigation-pill-list-9 {
@media (max-width: 1440px) {
  .navigation-pill-list-9 {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .navigation-pill-list-9 {
    gap: 16px;
  }
}
@media (max-width: 1440px) {
  .navigation-pill-list-9 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .navigation-pill-list-9 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
}

.header-2 {
@media (max-width: 1440px) {
  .header-2 {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .header-2 {
    gap: 24px;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 32px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  background-color: rgba(227, 227, 227, 1);
  border-bottom: 1px solid rgba(217, 217, 217, 1);
}

.text-22 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -3%;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-225-223-219);
}

.text-23 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 32px;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-content-title-21 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
}

.hero-basic-20 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 108px 64px 160px 64px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  background-color: rgba(31, 56, 80, 1);
}

.image-25 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 40.33333333333333%;
  width: 100%;
  height: auto;
}

.text-28 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -2%;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-31-56-80);
}

.text-content-heading-27 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-30 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 139.9999976158142%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-31-56-80);
}

.text-29 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.text-content-flow-26 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 40.33333333333333%;
  min-width: 300px;
}

.panel-image-content-24 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
  padding: 64px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  background-color: rgba(225, 223, 219, 1);
  opacity: 0.800000011920929;
}

.text-33 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -2%;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-225-223-219);
}

.text-content-heading-32 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.image-36 {
@media (max-width: 1440px) {
  .image-36 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .image-36 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 160px;
  width: 100%;
  height: auto;
}

.text-39 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -2%;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-31-56-80);
}

.text-40 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 139.9999976158142%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-31-56-80);
}

.text-38 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.body-37 {
@media (max-width: 1440px) {
  .body-37 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .body-37 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 160px;
}

.card-35 {
@media (max-width: 1440px) {
  .card-35 {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .card-35 {
    gap: 24px;
  }
}
@media (max-width: 1440px) {
  .card-35 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .card-35 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 240px;
  background-color: rgba(225, 223, 219, 1);
  border: 1px solid rgba(31, 56, 80, 1);
  border-radius: 8px;
}

.image-42 {
@media (max-width: 1440px) {
  .image-42 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .image-42 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 160px;
  width: 100%;
  height: auto;
}

.text-45 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -2%;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-31-56-80);
}

.text-46 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 139.9999976158142%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-31-56-80);
}

.text-44 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.body-43 {
@media (max-width: 1440px) {
  .body-43 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .body-43 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 160px;
}

.card-41 {
@media (max-width: 1440px) {
  .card-41 {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .card-41 {
    gap: 24px;
  }
}
@media (max-width: 1440px) {
  .card-41 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .card-41 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 240px;
  background-color: rgba(225, 223, 219, 1);
  border: 1px solid rgba(31, 56, 80, 1);
  border-radius: 8px;
}

.image-48 {
@media (max-width: 1440px) {
  .image-48 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .image-48 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 160px;
  width: 100%;
  height: auto;
}

.text-51 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -2%;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-31-56-80);
}

.text-52 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 139.9999976158142%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-31-56-80);
}

.text-50 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.body-49 {
@media (max-width: 1440px) {
  .body-49 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .body-49 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 160px;
}

.card-47 {
@media (max-width: 1440px) {
  .card-47 {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .card-47 {
    gap: 24px;
  }
}
@media (max-width: 1440px) {
  .card-47 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .card-47 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 240px;
  background-color: rgba(225, 223, 219, 1);
  border: 1px solid rgba(31, 56, 80, 1);
  border-radius: 8px;
}

.cards-34 {
@media (max-width: 1440px) {
  .cards-34 {
    gap: 48px;
  }
}

@media (max-width: 768px) {
  .cards-34 {
    gap: 48px;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 89.33333333333333%;
}

.image-55 {
@media (max-width: 1440px) {
  .image-55 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .image-55 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 160px;
  width: 100%;
  height: auto;
}

.text-58 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -2%;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-31-56-80);
}

.text-59 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 139.9999976158142%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-31-56-80);
}

.text-57 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.body-56 {
@media (max-width: 1440px) {
  .body-56 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .body-56 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 160px;
}

.card-54 {
@media (max-width: 1440px) {
  .card-54 {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .card-54 {
    gap: 24px;
  }
}
@media (max-width: 1440px) {
  .card-54 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .card-54 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 240px;
  background-color: rgba(225, 223, 219, 1);
  border: 1px solid rgba(31, 56, 80, 1);
  border-radius: 8px;
}

.image-61 {
@media (max-width: 1440px) {
  .image-61 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .image-61 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 160px;
  width: 100%;
  height: auto;
}

.text-64 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -2%;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-31-56-80);
}

.text-65 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 139.9999976158142%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-31-56-80);
}

.text-63 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.body-62 {
@media (max-width: 1440px) {
  .body-62 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .body-62 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 160px;
}

.card-60 {
@media (max-width: 1440px) {
  .card-60 {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .card-60 {
    gap: 24px;
  }
}
@media (max-width: 1440px) {
  .card-60 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .card-60 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 240px;
  background-color: rgba(225, 223, 219, 1);
  border: 1px solid rgba(31, 56, 80, 1);
  border-radius: 8px;
}

.image-67 {
@media (max-width: 1440px) {
  .image-67 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .image-67 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 160px;
  width: 100%;
  height: auto;
}

.text-70 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -2%;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-31-56-80);
}

.text-71 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 139.9999976158142%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-31-56-80);
}

.text-69 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.body-68 {
@media (max-width: 1440px) {
  .body-68 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .body-68 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 160px;
}

.card-66 {
@media (max-width: 1440px) {
  .card-66 {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .card-66 {
    gap: 24px;
  }
}
@media (max-width: 1440px) {
  .card-66 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .card-66 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 240px;
  background-color: rgba(225, 223, 219, 1);
  border: 1px solid rgba(31, 56, 80, 1);
  border-radius: 8px;
}

.cards-53 {
@media (max-width: 1440px) {
  .cards-53 {
    gap: 48px;
  }
}

@media (max-width: 768px) {
  .cards-53 {
    gap: 48px;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 89.33333333333333%;
}

.card-grid-image-31 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 48px;
  padding: 64px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(31, 56, 80, 1);
}

.text-72 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 139.9999976158142%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-225-223-219);
}

.home-1 {
@media (max-width: 1440px) {
  .home-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .home-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1200px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}
